input {
  display: block;
  background: #eeeeee;
  margin: 5px;

  &:focus {
    outline: 0;
    border-color: #1ab188;
    background: white;
  }
}

#button {
  width: 100%;
  padding: 15px;
  background: #4FD33B;
  border: none;
  color: white;
  font-size: 30px;
  margin-top: 35px;

  &:hover {
    background: #38AA2F;
  }
}