<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member</title>
    <link rel="stylesheet" href="stylesheets/css.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/child.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#openCreateNewChild").click(function () {
                $("#overlay, #createNewChild").show();
            });

            $("#cancelChildCreate, #overlay").click(function () {
                $("#overlay, .popup-formular2").hide();
            });
        });

        function handleSelect(elm) {
            window.location=elm.value;
            /*var childList=document.getElementById("ChildList");
            document.getElementById("chosenList").value=childList.options(childList.selectedIndex).text;*/
        }
    </script>
    <style>
        #showList {
            float: right;
            width: 200px;
        }
    </style>

</head>
<body>
<div th:replace="/includes/menu::menu"></div>

<div id="content">
    <div id="overlay"></div>
    <div th:replace="/includes/createChild::createNewChild"></div>
    <div th:replace="/includes/editChild::editChild"></div>
    <div id="topbar">
        <table style="width: 59%">
            <tr>
                <td>
                    <form method="post">
                        <input th:if="${children.size()} < 30" type="button" value="Opret nyt barn" class="green-btn"
                               id="openCreateNewChild"/>
                        <input th:if="${children.size()} == 30" type="button" value="Opret nyt barn" class="grey-btn"
                               disabled/>
                    </form>
                </td>
                <td id="showList">
                    <select id="childList" name="formal" onchange="javascript:handleSelect(this)" >
                        <option value="children">Børneliste</option>
                        <option value="waitingList">Venteliste</option>
                    </select>

                </td>
            </tr>
        </table>
        <div class="clear"></div>
    </div>
    <div id="container">
        <table id="list">
            <tbody>
            <tr>
                <td colspan="2">
                    <h2 style="margin-top: 10px">Børneliste
                        <small style="float: right" th:text="${children.size()}+'/30'"></small>
                    </h2>
                </td>
            </tr>
            <tr th:each="child: ${children}">
                <td th:text="${child.firstName} + ' ' + ${child.lastName}"
                    th:onclick="'javascript:printer('+${child.id}+')'"/>
            </tr>
            </tbody>
        </table>
        <form id="formid" method="post"></form>

        <table id="infoTable">
            <tr>
                <td colspan="2"><h2 th:text="${details.firstName}+' '+${details.lastName}"
                                    style="margin-bottom: 0px; margin-top: 10px"></h2></td>
            </tr>
            <tr>
                <td class="tdInfo">Navn:</td>
                <td th:text="${details.firstName}+' '+${details.lastName}"></td>
            </tr>
            <tr>
                <td class="tdInfo">Adresse:</td>
                <td th:text="${details.address}"></td>
            </tr>
            <tr>
                <td class="tdInfo">By:</td>
                <td th:text="${details.city}"></td>
            </tr>
            <tr>
                <td class="tdInfo">Post nr.:</td>
                <td th:text="${details.postalCode}"></td>
            </tr>
            <tr>
                <td class="tdInfo">Fødselsdag:</td>
                <td th:text="${details.birthDay}"></td>
            </tr>
            <tr>
                <td>
                    <form method="post" th:action="@{'deleteChild?id='+${child.id}}">
                        <input type="submit" value="Slet" class="red-btn"/>
                    </form>
                </td>
                <td>
                    <form method="post">
                        <input type="button" value="Redigér" class="blue-btn buttonsList openEditChild"/>
                    </form>
                </td>

            </tr>

        </table>
    </div>
</div>

</body>
</html>