<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medarbejder</title>
    <link rel="stylesheet" href="stylesheets/css.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/employee.js"></script>
</head>
<body>
<div id="content">
    <div th:replace="/includes/menu::menu"></div>
    <div th:replace="/includes/success::success"></div>
    <div th:replace="/includes/createEmployee::createNewEmployee"></div>
    <div th:replace="/includes/editEmployee::editEmployee"></div>
    <div id="topbar">
        <form method="post">
            <input type="button" value="Opret ny medarbejder" class="green-btn" id="openCreateNewEmployee"
                   th:if="${niveau} == 1"/>
        </form>
        <div class="clear"></div>
    </div>
    <div class="container">
        <table class="list">
            <tbody>
            <tr>
                <td colspan="2">
                    <h2 style="margin-top: 10px">Medarbejder
                        <small style="float: right" th:text="'Antal medarbejdere: '+${employees.size()}"></small>
                    </h2>
                </td>
            </tr>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.firstName} + ' ' + ${employee.lastName}"
                    th:onclick="'javascript:printer('+${employee.id}+')'"/>
            </tr>
            </tbody>
        </table>
        <form id="formid" method="post"></form>

        <table class="infoTable">
            <tr>
                <td colspan="2"><h2 style="margin-bottom: 0px; margin-top: 10px">Medarbejder Information</h2></td>
            </tr>
            <tr>
                <td class="tdInfo">Navn:</td>
                <td th:text="${details.firstName}+' '+${details.lastName}"></td>
            </tr>
            <tr>
                <td class="tdInfo">Adresse:</td>
                <td th:text="${details.roadName}">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdInfo">By:</td>
                <td th:text="${details.city}">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdInfo">Postnr.:</td>
                <td th:text="${details.postalCode}">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdInfo">Tlf.:</td>
                <td th:text="${details.phoneNumber}">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdInfo">Email:</td>
                <td th:text="${details.email}">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <form method="post" th:action="@{'deleteEmployee?id='+${employeeDetails.id}}">
                        <input type="submit" value="Slet" class="red-btn " th:if="${niveau} == 1 and ${employee.niveau} != 1"/>
                    </form>
                </td>
                <td>
                    <input id="openEditEmployee" type="button" value="Redigér" class="blue-btn buttonsList openEditEmployee"
                           th:if="${niveau} == 1"/>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>