<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="css.css"/>

    <style>
        #content {
            height: calc(100% - 50px);
        }
        #topbar {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div id="menu">
        <ul>
            <li>
                <a href="/">Vagtplan</a>
            </li>
            <li>
                <a href="employee">Medarbejder</a>
            </li>
            <li>
                <a href="#">Log ud</a>
            </li>
            <li>
                <a href="user">Bruger</a>
            </li>
        </ul>
    </div>
    <div id="content">
        <div id="topbar">
            <form method="post">
                <input type="button" value="Opret ny medarbejder" class="green-btn"/>
            </form>
        </div>
    </div>
</body>
</html>