<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/css.css">
    <link rel="stylesheet/less" type="text/css" href="stylesheets/login.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
</head>

<body>

<div id="outerWrapper">
    <div id="innerWrapper">
        <form method="post">
            <input name="username" type="text" required autofocus placeholder="Brugernavn" value="mike"/>
            <input name="password" type="password" required placeholder="Kodeord" value="test1234"/>
            <a id="forget" href="#">Glemt Adgangskode?</a>
            <input type="submit" id="button" name="submit" value="Log ind"/>
        </form>
    </div>
</div>

</body>

</html>