<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/css.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/parent.js"></script>

</head>
<style>
    h2 {
        margin-top: 10px
    }

    #infoTable h2{
        margin-bottom: 0;
    }

    .popup-formular .green-btn {
        float: right
    }
</style>
<body>
<div th:replace="/includes/menu::menu"></div>
<div th:replace="/includes/createParent::createParent"></div>
<div th:replace="/includes/editParent::editParent"></div>
<div id="content">
        <div id="topbar">
            <form method="post">
                <input id="createParentButton" type="button" value="Opret ny forældre" class="green-btn"
                       th:if="${niveau} == 1"/>
            </form>
            <div class="clear"></div>
        </div>

    <div id="container">
        <table id="list">
            <tbody>
            <tr>
                <td colspan="2"><h2>Forældre</h2></td>
            </tr>

            <tr th:each="parent: ${parents}" th:classappend="${parentDetails.id}==${parent.id} ? 'active'">
                <td th:text="${parent.name}" th:onclick="'javascript:printer('+${parent.id}+')'"/>
            </tr>

            </tbody>
        </table>
        <form id="formid" method="post"></form>

        <table id="infoTable">
            <tr>
                <td colspan="2"><h2>Forældre Information</h2></td>
            </tr>
            <tr>
                <td class="tdInfo">Navn:</td>
                <td th:text="${parentDetails.name}"></td>
            </tr>
            <tr>
                <td class="tdInfo">Tlf.:</td>
                <td th:text="${parentDetails.phone}"></td>
            </tr>
            <tr>
                <td class="tdInfo">Email.:</td>
                <td th:text="${parentDetails.email}"></td>
            </tr>
            <tr>
                <td class="tdInfo">Køn:</td>
                <td th:text="${parentDetails.gender} ? 'Mand' : 'Kvinde'"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <form method="post" th:action="@{'deleteParent?id='+${parentDetails.id}}">
                        <input type="submit" value="Slet" class="red-btn " th:if="${niveau} == 1"/>
                    </form>
                </td>
                <td>
                    <input id="editParentButton" type="button" value="Redigér" class="blue-btn buttonsList"
                           th:if="${niveau} == 1"/>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>

</html>