<div id="createNewChild" class="popup-formular2" th:fragment="createNewChild" xmlns:th="http://www.thymeleaf.org" style="margin-left: -270px; margin-top: -161px;">
    <h2>Opret nyt barn</h2>
    <form method="post" th:action="@{/children}">
        <table class="popup-table">
            <tr>
                <td><label for="childFirstName">Fornavn:</label></td>
                <td>
                    <input id="childFirstName" name="firstName" type="text" th:field="${child.firstName}" required="true" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>
            <tr>
                <td><label for="childLastName">Efternavn:</label></td>
                <td>
                    <input id="childLastName" name="lastName" type="text" th:field="${child.lastName}" required="true" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>
            <tr>
                <td><label for="childAddress">Adresse:</label></td>
                <td>
                    <input id="childAddress" name="streetName" type="text" th:field="${child.address}" required="true" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>
            <tr>
                <td><label for="childAddressCity">By:</label></td>
                <td>
                    <input id="childAddressCity" name="city" type="text" th:field="${child.city}" required="true" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>
            <tr>
                <td><lable for="childAddressPostalCode">Post nr.: </lable></td>
                <td>
                    <input id="childAddressPostalCode" name="postalCode" type="number" th:field="${child.postalCode}" required="true" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>

            <tr>
                <td>
                    <h4>Forælder 1</h4>
                </td>
            </tr>
            <tr>
                <td><label for="childParentOneName">Navn:</label></td>
                <td th:object="${parentWrapper}">
                    <input id="childParentOneName" name="name" type="text" th:field="*{parents[0].name}" required="true" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>
            <tr>
                <td><label for="childParentOnePhoneNumber">Tlf. nr.:</label></td>
                <td th:object="${parentWrapper}">
                    <input id="childParentOnePhoneNumber" name="phone" type="number" th:field="*{parents[0].phone}" required="true" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>
            <tr>
                <td><label for="childParentOneEmail">E-mail:</label></td>
                <td th:object="${parentWrapper}">
                    <input id="childParentOneEmail" name="email" type="email" th:field="*{parents[0].email}" required="true" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>

            <tr>
                <td>
                    <h4>Forælder 2</h4>
                </td>
            </tr>
            <tr>
                <td><label for="childParentTwoName">Navn:</label></td>
                <td th:object="${parentWrapper}">
                    <input id="childParentTwoName" name="name" type="text" th:field="*{parents[1].name}" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>
            <tr>
                <td><label for="childParentTwoPhoneNumber">Tlf. nr.:</label></td>
                <td th:object="${parentWrapper}">
                    <input id="childParentTwoPhoneNumber" name="phone" type="number" th:field="*{parents[1].phone}" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>
            <tr>
                <td><label for="childParentTwoEmail">E-mail:</label></td>
                <td th:object="${parentWrapper}">
                    <input id="childParentTwoEmail" name="email" type="email" th:field="*{parents[1].email}" style="background-color: #cccccc; width: 250px"/>
                </td>
            </tr>

            <tr>
                <td><input id="cancelChildCreate" type="button" value="Annuller" class="red-btn"/></td>
                <td><input name="saveChild" type="submit" value="Opret" class="green-btn" style="float: right"/></td>
            </tr>
        </table>

    </form>
</div>