<div id="editChild" class="popup-formular" th:fragment="editChild"  xmlns:th="http://www.thymeleaf.org" style="margin-left: -270px; margin-top: -161px;">
    <h2>Redigér oplysning om barn</h2>
    <form method="post" th:action="@{/editChild}">
        <input type="hidden" id="editChildId" name="id" th:field="${details.id}"/>
        <table class="popup-table">
            <tr>
                <td><label>Fornavn:</label></td>
                <td>
                    <input type="text" th:field="${details.firstName}" required style="background-color: #cccccc; width: 250px"/>
                    <div class="fail childFirstNameFail"><div class="arrow-left"></div>Indtast fornavn!</div>
                </td>
            </tr>
            <tr>
                <td><label>Efternavn:</label></td>
                <td>
                    <input type="text" th:field="${details.lastName}"required style="background-color: #cccccc; width: 250px"/>
                    <div class="fail childLastNameFail"><div class="arrow-left"></div>Indtast efternavn!</div>
                </td>
            </tr>
            <tr>
                <td><label>Adresse:</label></td>
                <td>
                    <input type="text" th:field="${details.address}" required style="background-color: #cccccc; width: 250px"/>
                    <div class="fail childaddressFail"><div class="arrow-left"></div>Indtast adresse!</div>
                </td>
            </tr>
            <tr>
                <td><label>By:</label></td>
                <td>
                    <input type="text" th:field="${details.city}" required style="background-color: #cccccc; width: 250px"/>
                    <div class="fail childCityFail"><div class="arrow-left"></div>Indtast by!</div>
                </td>
            </tr>
            <tr>
                <td><label>Post nr.:</label></td>
                <td>
                    <input type="number" th:field="${details.postalCode}"  required style="background-color: #cccccc; width: 250px"/>
                    <div class="fail childPostalCodeFail"><div class="arrow-left"></div>Indtast postnummer</div>
                </td>
            </tr>
            <tr>
                <td><label>Fødselsdag:</label></td>
                <td>
                    <input type="date" th:field="${details.birthDay}"  required style="background-color: #cccccc; width: 250px"/>
                    <div class="fail childBirthDayFail"><div class="arrow-left"></div>Indtast fødselsdag</div>
                </td>
            </tr>
            <tr>
                <td><input id="cancelChildEdit" type="button" value="Annuller" class="red-btn"/></td>
                <td><input name="saveEditChild" type="submit" value="Gem" class="green-btn" style="float: right"/></td>
            </tr>
        </table>
    </form>
</div>