
<div id="editPassword" class="popup-formular" th:fragment="editPassword">

    <h2>Ret Password</h2>
    <form method="post">
        <table class="popup-table">
            <td><label for="currentPassword">Nuværende password</label></td>
            <td>
                <input id="currentPassword" name="password" type="password"/>
                <div class="fail currentPasswordFail"><div class="arrow-left"></div>Indtast password</div>
            </td>
            </tr>
            <tr>
                <td><label for="newPassword">Nyt password</label></td>
                <td>
                    <input id="newPassword" name="newPassword" type="password"/>
                    <div class="fail newPasswordFail"><div class="arrow-left"></div>Indtast password</div>
                </td>
            </tr>
            <tr>
                <td><label for="newPasswordCheck">Gentag password</label></td>
                <td>
                    <input id="newPasswordCheck" name="newPasswordCheck" type="password"/>
                    <div class="fail passwordCheckFail"><div class="arrow-left"></div>Password er ikke ens</div>
                </td>
            </tr>
            <tr>
                <td><input id="cancelEditPassWord" type="button" value="Annuller" class="red-btn"/></td>
                <td><input name="savePassWord" type="button" value="Gem" class="green-btn" style="float: right"/></td>
            </tr>
        </table>
    </form>
</div>