
<div id="menu" th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <script>
        $(document).ready(function () {
            var path = window.location.pathname;
            if(path == "/index"){
                $("#menu ul li:nth-child(1) a").addClass("active");

            }else if(path == "/employee"){
                $("#menu ul li:nth-child(2) a").addClass("active");

            }else if(path == "/children"){
                $("#menu ul li:nth-child(3) a").addClass("active");

            }else if(path == "/waitingList"){
              $("#menu ul li:nth-child(4) a").addClass("active");
            }

        });
    </script>
    <ul>
        <li>
            <a href="/index">Vagtplan</a>
        </li>
        <li>
            <a href="employee">Medarbejder</a>
        </li>
        <li>
            <a href="children">Børneliste</a>
        </li>
        <li>
            <a href="waitingList">Venteliste</a>
        </li>
        <li>
            <a href="logud">Log ud</a>
        </li>
        <li>
            <a href="#user">Bruger</a>
        </li>
    </ul>
</div>