<div id="menu" th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="scripts/menu.js"></script>
    <div th:replace="/includes/user::user"></div>
    <div th:replace="/includes/editPassword::editPassword"></div>
    <div id="overlay-user"></div>
    <ul>
        <li>
            <a href="/index">Vagtplan</a>
        </li>
        <li>
            <a href="employee">Medarbejder</a>
        </li>
        <li>
            <a href="children">Børneliste</a>
        </li>
        <li>
            <a href="waitingList">Venteliste</a>
        </li>
        <li>
            <a href="logud">Log ud</a>
        </li>
        <li>
            <a id="openUserInfo" href="#user">Bruger</a>
        </li>
    </ul>
</div>