<div id="user" class="popup-formular-user" th:fragment="user" xmlns:th="http://www.thymeleaf.org">
    <h2>Bruger Information</h2>
    <form method="post">
        <table class="popup-table">
            <tr>
                <td><label for="userNameField">Brugernavn:</label></td>
                <td><input id="userNameField" name="userName" type="text" th:value="${sessionUserName}" readonly="readonly" style="background-color: #eee; color: grey"></td>
            </tr>
            <tr>
                <td><label for="passWordField">Password:</label></td>
                <td><input id="passWordField" name="passWord" class="blue-btn" type="button" value="Skift password" style="width: 250.4px"></td>
            </tr>
            <tr>
                <td><label for="firstNameField">Fornavn:</label></td>
                <td><input id="firstNameField" name="firstName" type="text" th:value="${user.firstName}"></td>
            </tr>
            <tr>
                <td><label for="lastNameField">Efternavn:</label></td>
                <td><input id="lastNameField" name="lastName" type="text" th:value="${user.lastName}"></td>
            </tr>
            <tr>
                <td><label for="addressField">Adresse:</label></td>
                <td><input id="addressField" name="roadName" type="text" th:value="${user.roadName}"></td>
            </tr>
            <tr>
                <td><label for="cityField">By:</label></td>
                <td><input id="cityField" name="city" type="text" th:value="${user.city}"></td>
            </tr>
            <tr>
                <td><label for="postalNumberField">Postnr.:</label></td>
                <td><input id="postalNumberField" name="postalCode" type="number" th:value="${user.postalCode}"></td>
            </tr>
            <tr>
                <td><label for="telephoneField">Tlf.:</label></td>
                <td><input id="telephoneField" name="phoneNumber" type="number" th:value="${user.phoneNumber}"></td>
            </tr>
            <tr>
                <td><label for="emailField">Email:</label></td>
                <td><input id="emailField" name="email" type="email" th:value="${user.email}"></td>
            </tr>
            <tr>
                <td><input id="cancelUser" type="button" value="Annuller" class="red-btn"></td>
                <td>
                    <input name="saveUserInfo" type="submit" value="Gem" class="green-btn" style="float: right">
                </td>
            </tr>
        </table>
    </form>
</div>