<div id="user" class="popup-formular" th:fragment="user" th:each="employees: ${employees}" th:if="${employees.id} == 1">
    <h2>Medarbejder Information</h2>
    <form method="post">
        <table class="popup-table">
            <tr>
                <td><label for="usernameField">Brugernavn</label></td>
                <td><input id="usernameField" name="username" type="text" th:value="${employees.username}"></td>
            </tr>
            <tr>
                <td><label for="passwordField">Adgangskode</label></td>
                <td><input id="passwordField" name="password" type="text" th:value="${employees.password}"></td>
            </tr>
            <tr>
                <td><label for="firstNameField">Fornavn</label></td>
                <td><input id="firstNameField" name="firstName" type="text" th:value="${employees.firstName}"></td>
            </tr>
            <tr>
                <td><label for="lastNameField">Efternavn</label></td>
                <td><input id="lastNameField" name="lastName" type="text" th:value="${employees.lastName}"></td>
            </tr>
            <tr>
                <td><label for="addressField">Adresse</label></td>
                <td><input id="addressField" name="address" type="text" th:value="${employees.roadName}"></td>
            </tr>
            <tr>
                <td><label for="streetNumberField">Vejnr</label></td>
                <td><input id="streetNumberField" name="streetNumber" type="number" th:value="${employees.roadNumber}"></td>
            </tr>
            <tr>
                <td><label for="cityField">By</label></td>
                <td><input id="cityField" name="city" type="text" th:value="${employees.city}"></td>
            </tr>
            <tr>
                <td><label for="postalNumberField">Postnummer</label></td>
                <td><input id="postalNumberField" name="postalnumber" type="number" th:value="${employees.postalCode}"></td>
            </tr>
            <tr>
                <td><label for="telephoneField">Tlf</label></td>
                <td><input id="telephoneField" name="telephone" type="number" th:value="${employees.phoneNumber}"></td>
            </tr>
            <tr>
                <td><label for="emailField">E-mail</label></td>
                <td><input id="emailField" name="email" type="email" th:value="${employees.email}"></td>
            </tr>
            <tr>
                <td><input id="cancelUser" type="button" value="Annuller" class="red-btn"></td>
                <td><input name="saveSchedule" type="submit" value="Opret" class="green-btn" style="float: right"> <!-- ændre dette name -->
                </td>
            </tr>
        </table>
    </form>
</div>